<!DOCTYPE html>
<html xmlns:th="http://www.thyeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>


<body>
	<h1>Add a Student To A Course</h1>
	<form action="/addBookToStore">

		Select a Book:<select name="bookid">

			<option th:each="b:*{books}" th:value="${b.id}"
				th:text="${b.title}">
			</option>
		</select> 
		<br>
		<br> 
		Select a Store:<select name="storeid">

			<option th:each="s:*{stores}" th:value="${s.id}" th:text="${s.address}">
			</option>
			</select> 
			<br><br>
			<input type="submit" value="Add Book" />
	</form>

	
	
	
</body>
</html>