<!DOCTYPE html>
<html xmlns:th="http://www.thyeleaf.org">
<head>
<style>
.header {
	grid-area: header;
	font-size: 30px;
}

.item2 {
	grid-area: menu;
}

.item3 {
	grid-area: main;
}

.item4 {
	grid-area: right;
}

.item5 {
	grid-area: content1;
}

.item6 {
	grid-area: left;
}

.item7 {
	grid-area: content2;
}

.item8 {
	grid-area: footer;
	font-size: 14pt;
}

.grid-container {
	display: grid;
	grid-template-areas: 'menu main main main main main'
		'menu main main main main main'
		'content1 content1 content1 content1 content1 right'
		'content1 content1 content1 content1 content1 right'
		'left content2 content2 content2 content2 content2'
		'left content2 content2 content2 content2 content2'
		'footer footer footer footer footer footer';
	grid-gap: 10px;
	padding: 10px;
}

.grid-container>div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}

.para {
	text-align: left;
	font-size: 15pt;
}

#logoImg {
	width: 60pt;
	height: 60pt;
}

#navBar {
	font-size: 15pt;
	text-align: center;
	padding-left: 300pt;
}

.inputBox {
	width: 200pt;
	height: 20pt;
}

#Submit {
	width: 203pt;
	height: 23pt;
	font-family: arial;
	font-size: 14pt;
}

#Submit:hover {
	background-color: #4CAF50;
	color: white;
}

#inputTbl td {
	text-align: right;
	float: center;
	font-family: arial;
	font-size: 14pt;
}

#tbl {
	border-collapse: collapse;
	width: 100%;
	font-family: arial;
}

#tbl th, #tbl td {
	padding: 8px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

#tbl tr:hover {
	background-color: #f5f5f5;
}

th {
	background-color: #f5f5f5;
	text-align: center;
}
</style>
</head>
<body>

	<div class="header">
		<table align="center">
			<tr>
				<td><img th:src="@{'photos/'+ volleyball-logo.png}"
					id="logoImg" /></td>
				<td></td>
				<td></td>
				<td>
					<h2>Sheridan Book Stores</h2>
				</td>
			</tr>
		</table>

	</div>
	<ul id="navBar">
		<li><a th:href="@{/}" class="active">Home</a></li>
		<li><a href="" th:href="@{/goAddStore}">Add Store</a></li>
		<li><a href="#" th:href="@{/addBookToStore}">AddBookToStore</a></li>
		<li><a href="" th:href="@{/search}">Search</a></li>
		<li><a href="#" th:href="@{/goContact}">Contact</a></li>
	</ul>

	<div class="grid-container"></div>

	<div class="item2">

		<form action="#" th:action="@{/saveBook}" th:object="${Book}">
			<table id="inputTbl">
				<tr>

					<td>Book Title:</td>
					<td><input class="inputBox" type="text" th:field="*{title}" /></td>

				</tr>
				<tr>
					<td>Author:</td>
					<td><input class="inputBox" type="text" th:field="*{author}" /></td>
				</tr>
				<tr>
					<td>Price:</td>
					<td><input class="inputBox" type="text" th:field="*{price}" /></td>
				</tr>
				<tr>
					<td>Inventory Quantity:</td>
					<td><input type="text" class="inputBox" th:field="*{quantity}" /></td>
				</tr>
				<tr>
					<td>Courses:</td>
					
					<td><select th:field="*{course}">
							<option th:each="c:*{courses}" th:value="${c}" th:text="${c}"></option>
					</select></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" id="Submit" value="Add Course" /></td>
				</tr>

			</table>
		</form>
	</div>

	<div class="item3">
		<hr>
		<table id="tbl" style="width: 100%">
			<tr>
				<th>Name</th>
				<th>Author</th>
				<th>Price</th>
				<th>Inventory Quantity</th>
				<th>Courses</th>

			</tr>
			<tr th:each="b:${myBooks}">
				<td th:text="${b.title}"></td>
				<td th:text="${b.author}"></td>
				<td th:text="${b.price}"></td>
				<td th:text="${b.quantity}"></td>
				<td th:text="${b.course}"></td>

				</td>
			</tr>
		</table>
	</div>

	<div class="item4"></div>

	<div class="item5"></div>

	<div class="item6"></div>

	<div class="item7"></div>

	<div class="item8">
		<hr>
		<p>Copyrights &copy;2020 - Binod Shrestha</p>

	</div>
	</div>

</body>
</html>

